.Footer{
    margin-top: 10vh;
    background-color: #2b2b2b;
    padding: 3%;
}
.HeadingSub{
    color:white;
}
.FooterSub{
    color:white;
    font-size: 2.5em;
}
.P{
    color: steelblue;
}
.Social{
    width:50px;
    margin:3% 0  0 3%;
}
.Newsletter{
    color: white;
    width: 70%;
    text-align: center;
    padding: 1%;
    margin: 0 auto;
}
.Center{
    text-align: center;
    margin: auto;
}
.Col{
    padding: 0%;
}
.FormInput{
    border-radius:0;
    border:1px solid orange;
}