.SimilarApp {
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 170px;
  align-items: center;
  position: absolute;
}

.SimilarApp_image {
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 5px solid black;
  border-radius: 7px;
}

img {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: -5px;
  border-radius: 4px;
}

.SimilarApp_button {
  width: 50%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.SimilarApp_input {
  display: none;
}

.SimilarApp_recommend_image {
  margin-bottom: 25px;
}
